body
    background-color $blue
    
.content
    background-color #3d96c6
    height 100%
    
.perso
    position absolute
    top 0
    left 0
    width 100px
    height 100px
    background-color yellow
    transform translateX(0) translateY(0)
    transition all 0.1s ease-in
    
.plateau
    display block
    position relative
    width 600px
    height 600px
    margin 0 auto
    background red